In [8]:
from scipy.signal import argrelextrema
import pandas as pd
import numpy as np

In [9]:
perf = pd.DataFrame({'price':[100.1, 1.1, 3.5, 400, 3.1, 651, 39]})
perf

   price
0  100.1
1    1.1
2    3.5
3  400.0
4    3.1
5  651.0
6   39.0

In [10]:
test = pd.DataFrame()
test['price'] = perf.price
test

   price
0  100.1
1    1.1
2    3.5
3  400.0
4    3.1
5  651.0
6   39.0

In [11]:
test = test.dropna()
# reindex so index is int count
test.reset_index(inplace=True)
test

   index  price
0      0  100.1
1      1    1.1
2      2    3.5
3      3  400.0
4      4    3.1
5      5  651.0
6      6   39.0

In [12]:
# get the peaks and valleys for the data set
peaks = argrelextrema(test.price.values, np.greater)
valleys = argrelextrema(test.price.values, np.less)

In [13]:
test['peaks'] = False
test['valleys'] = False
test['peaks'].loc[peaks] = True
test['valleys'].loc[valleys] = True

test

/tmp/ipykernel_1032/2711838650.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['peaks'].loc[peaks] = True
/tmp/ipykernel_1032/2711838650.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['valleys'].loc[valleys] = True

   index  price  peaks  valleys
0      0  100.1  False    False
1      1    1.1  False     True
2      2    3.5  False    False
3      3  400.0   True    False
4      4    3.1  False     True
5      5  651.0   True    False
6      6   39.0  False    False

In [14]:
test['last_peak'] = test.loc[peaks[0][-1]].price
test['last_valley'] = test.loc[valleys[0][-1]].price

test

   index  price  peaks  valleys  last_peak  last_valley
0      0  100.1  False    False      651.0          3.1
1      1    1.1  False     True      651.0          3.1
2      2    3.5  False    False      651.0          3.1
3      3  400.0   True    False      651.0          3.1
4      4    3.1  False     True      651.0          3.1
5      5  651.0   True    False      651.0          3.1
6      6   39.0  False    False      651.0          3.1